<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link th:href="@{/css/home.css}" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <title th:text="${title}"></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link th:href="@{/static.css/home.css}" rel="stylesheet" />
</head>
<body style="background-color: #2d4d6f">
<nav class="navbar navbar-expand-lg" style="background-color: #243f5c">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="color: white">Онлайн аптека</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/index" style="color: white"> Главная страница </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div style="margin-top: 6%"></div>
<div class="box4" style="margin-left: auto; margin-right: auto" th:each="order :${order1}">
  <table>
    <tr>
      <th style="color: white">Id</th>
      <th style="color: white; margin-left: 10px">Стоимость заказа</th>
      <th style="color: white; margin-left: 10px">Список заказа</th>
      <th style="color: white; margin-left: 10px">Статус заказа</th>
    </tr>
    <tr style="color: white">
      <td th:text="${order.getId()}"></td>
      <td th:text="${order.getPrice()}"></td>
      <td th:text="${order.getList_of_products()}"></td>
      <td th:text="${order.isStatus()}"></td>
    </tr>
  </table>
  <a th:href="'/zapis/' + ${order.getId() + '/edit'}" class="btn btn-warning"> Редактировать </a>
  <form th:action="'/zapis/' +  ${order.getId() + '/remove'}" method="post">
    <button class="btn btn-warning" type="submit"> Удалить </button>
  </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
</body>
</html>